/*colours
dark grey : #1b1c1c
green: #32cd32
*/
.App-header {
  background-color: #cacaca;
  padding: 10px;
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space out title and nav */
}

.App-header a {
  text-decoration: none;
  color: black;
}

.App-header nav {
  display: flex; /* Use flexbox for nav items */
  align-items: center;
}

.App-header nav a {
  margin-right: 10px;
  margin-left: 10px;
  padding: 4px 0px;
  border: none;
  cursor: pointer;
  text-decoration: none; /* Remove underline from links */
  color: #1b1c1c; /* Set link color */
}

.App-header nav a:hover {
  color: #32cd32;
}

main {
  padding: 20px;
}

body {
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
}

.space {
  padding: 10px;
} 